.top-rating-border,
.comments-border {
  display: block;
  height: 1px;
  width: 90%;
  background-color: #dbdbdb;
  margin-top: 28px;
  margin-bottom: 32px;
}

.comments-border {
  margin-bottom: 28px;
}

.average-rating {
  font-family: inherit;
  font-size: x-large;
  font-weight: 700;
}

.pending-review-text {
  font-size: medium;
  font-weight: 400;
  text-indent: 10px;
}

.comment-star-rating {
  margin-left: 2%;
}

.comment-container {
  display: flex;
  flex-direction: column;
  color: #484848;
}

.commenter-info-container {
  display: flex;
}

.commenter-avatar {
  display: block;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #dbdbdb;
  border: 2px solid #ffffff;
  vertical-align: middle;
  margin-right: 3%;
  box-sizing: border-box;
}

.commenter-text-info {
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

.commenter-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.comment-creation-date {
  font-size: 14px;
  line-height: 18px;
}

.comment-body {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
}
