#home-show-map {
  height: 350px;
  width: 90%;
}

.home-show-map-text {
  font-size: x-large;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 4%;
}

.home-show-map-bottom-text {
  font-size: larger;
  font-family: inherit;
  margin-top: 1%;
}
