.comments-top-border,
.comments-bottom-border {
  display: block;
  height: 1px;
  width: 90%;
  background-color: #dbdbdb;
  margin-top: 28px;
  margin-bottom: 32px;
}

.comments-bottom-border {
  margin-bottom: 28px;
}

.average-rating {
  display: flex;
  font-family: inherit;
  font-size: x-large;
  font-weight: 700;
}

.pending-review-cntr {
  display: flex;
  flex-direction: row;
  width: 53%;
}

.pending-review-text-v1 {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10%;
  margin-right: 6%;
}

.pending-review-text-v2 {
  font-weight: 700;
  margin-left: 14%;
}

.home-show-review-button {
  border: 2px;
  border-radius: 3px;
  color: white;
  background-color: #335989;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.comment-star-rating {
  margin-left: 2%;
}

.comment-container {
  display: flex;
  flex-direction: column;
  color: #484848;
}

.commenter-info-container {
  display: flex;
  width: 90%;
}

.commenter-avatar {
  display: block;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #dbdbdb;
  border: 2px solid #ffffff;
  vertical-align: middle;
  margin-right: 3%;
  box-sizing: border-box;
}

.commenter-text-info {
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

.commenter-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.comment-creation-date {
  font-size: 14px;
  line-height: 18px;
}

.comment-crud-dropdown-x,
.comment-crud-dropdown-bars {
  margin-top: -11px;
  margin-right: 5px;
  width: 19px;
  font-family: inherit;
  font-size: 14px;
  fill: rgb(118, 118, 118);
  margin-left: auto;
  cursor: pointer;
}

.comment-dropdown-cntr {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  top: -29px;
  right: 130px;
}

.comment-dropdown-cntr input {
  border: 2px;
  border-radius: 3px;
  color: white;
  padding: 3px 12px 3px 12px;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}

.edit-review-DD-btn {
  animation: bounce 1.5s;
  -webkit-animation: bounce 1.5s;
  background-color: #335989;
  margin-right: 5px;
  padding: 3px 12px 3px 12px;
}

.delete-review-DD-btn {
  animation: bounce 1.5s;
  -webkit-animation: bounce 1.5s;
  background-color: #bb0618;
  padding: 3px 12px 3px 12px;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, -20px);
  }

  30% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  80% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, -20px);
  }

  30% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  80% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

.comment-body {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
}
