.single-home-show {
  font-size: small;
}

.price-line {
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(219,219,219);
  width: 88%;
}

.price {
  font-weight: 500;
  font-size: 24px;
}

.dates {
  margin-right: 300px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.home-show-image {
  height: 80vh;
  background-image: image-url(hokkadio_homes/hokkaido_thumb1);
  background-position: center center;
  background-size: cover;
}

.home-contents-cntr {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.home-details-cntr {
  margin-top: 25px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-summary {
  width: 58.333333333333336%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.home-title {
  width: 70.333333%;
  font-size: 2em;
  font-weight: 700;
}

.home-description {
  width: 83%;
  font-size: 16px;
}


.booking-form {
  border: 1px solid rgb(219,219,219);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  width: 378px;
  justify-content: center;
  align-items: center;
}

.react-datepicker__input-container input {
  display: block;
  height:35px;
  font-size: 16px;
  border: 1px solid rgb(219,219,219);
  border-radius: 1px;
  width: 325px;
  text-indent: 10px;
}

.book {
  width: 88%;
  height: 45px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 20px;
  border: 2px;
  border-radius: 3px;
  color: white;
  background-color: #7595bf;
  cursor: pointer;
}
