.single-home-show {
  font-size: small;
}

.price-line {
  padding-top: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(219, 219, 219);
  width: 88%;
}

.date-picker-inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 11.5px;
}

.date-picker-cntr {
  width: 100%;
}

.price {
  font-weight: 700;
  font-size: 23px;
}

.booking-errors {
  display: block;
  margin-top: 5%;
  width: 15vw;
  text-align: center;
  color: red;
}

.dates {
  font-weight: 700;
  width: 100%;
  margin: 20px 0px 5px 44px;
}

.booking-request-cntr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.book {
  animation: book;
  width: 86%;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px;
  margin-bottom: 18px;
  border: 2px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  background-color: #7595bf;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes book {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.booking-form-cntr {
  height: -webkit-fill-available;
  position: sticky;
  top: 110px;
}

.booking-form,
.booking-form-reviewV {
  animation: container;
  animation-duration: 5.8s;
  animation-timing-function: ease-out;
  border: 1.4px solid rgb(219, 219, 219);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22vw;
}

.booking-form-reviewV {
  animation: reviewV-container;
  animation-duration: 5.8s;
  animation-timing-function: ease-out;
}

@keyframes container {
  0% {
    height: 270px;
  }
  75% {
    height: 270px;
  }
  100% {
    height: 308px;
  }
}

@keyframes reviewV-container {
  0% {
    height: 290px;
  }
  75% {
    height: 290px;
  }
  100% {
    height: 325px;
  }
}

.popular-booking-cntr,
.popular-booking-cntrV2 {
  animation: popular;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  width: 88%;
  margin-bottom: 1vw;
}

.popular-booking-cntrV2 {
  animation: popularV2;
  animation-duration: 6s;
  animation-timing-function: ease-out;
}

@keyframes popular {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
    transform: translateY(-140px);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes popularV2 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
    transform: translateY(-140px);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.booking-charge-notification {
  animation: charge;
  animation-duration: 2.3s;
  animation-timing-function: ease-out;
  font-weight: 700;
  margin-bottom: 1vw;
}

@keyframes charge {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.booking-form-bottom-border {
  display: block;
  width: 88%;
  min-height: 1px;
  background-color: #dbdbdb;
  margin-bottom: 1vw;
}

.popular-booking-text {
  font-weight: 700;
  margin-bottom: 2px;
}

.lightbulb {
  margin-left: auto;
}

.home-show-image {
  width: 100%;
  height: 80vh;
}

.home-contents-cntr {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

.home-details-cntr {
  margin-top: 25px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-summary {
  width: 58.333333333333336%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.home-header {
  display: flex;
}

.home-title {
  width: 74.333333%;
  font-size: 2em;
  font-weight: 700;
}

.seller-avatar {
  display: block;
  height: 64px;
  width: 64px;
  margin-left: 25px;
  border-radius: 50%;
  background: #dbdbdb;
  border: 2px solid #ffffff;
  vertical-align: middle;
}

.home-description {
  width: 83%;
  font-size: 16px;
}

.react-datepicker-popper {
  height: 275px;
}

.react-datepicker-popper[data-placement^="top"] {
  margin-bottom: 0px !important;
}

.inline-datepicker-text {
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 3%;
}

.inline-datepicker-cntr {
  height: 324px;
}

#datepicker-border {
  background-color: #dbdbdb;
}

.datepicker-border {
  border: 1px solid rgb(219, 219, 219) !important;
  color: #484848 !important;
  display: block !important;
  height: 35px;
  font-size: 16px !important;
  border-radius: 3px !important;
  text-indent: 10px;
  width: 19.2vw;
}

.react-datepicker {
  z-index: 0;
  display: flex !important;
  width: 480px;
  margin-left: 34px;
}

.react-datepicker__header {
  background-color: #d5e2f2 !important;
}

.react-datepicker__day--outside-month {
  visibility: hidden;
}

.react-datepicker__month-container {
  float: none !important;
  z-index: 0;
}
