.splash-search-bar {
  display: block;
  font-size: calc(1vw + 9px);
  background-color: #ffffff;
  font-weight: 800;
  font-family: inherit;
  border-radius: 5px;
  height: calc(2vw + 20px);
  width: 100%;
  text-indent: 65px;
}

.splash-search-bar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}

.splash-search-bar-container .splash-search-icon {
  position: absolute;
  padding-left: 1rem;
  font-size: calc(1vw + 12px);
}
