.trips-heading {
  display: block;
  font-weight: 700;
  font-size: 50px;
  margin: 4vh 0 2vh 6vw;
}

.trip-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: row;
  margin-left: 8vw;
  padding-top: 13px;
}

.booked-dates strong {
  margin-top: 5px;
  font-weight: 700;
}

.booking-range {
  margin-left: 1vw;
}

.more-bookings-button {
  background: transparent;
  border-color: rgb(209, 209, 209);
  border-radius: 3px;
  color: #808080;
  margin-left: 1vw;
  margin-top: 0.5vh;
  cursor: pointer;
}

.more-bookings-button:focus {
  outline: 0;
}
