.dancing-penguin-cntr {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.no-trips-text-cntr {
  font-family: inherit;
  width: 74vw;
  margin-right: -10%;
  margin-left: 20%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.no-trips-text-cntr h1 {
  font-size: 4em;
  font-weight: 700;
}

.no-trips-text-cntr h2 {
  font-size: large;
}

.no-trips-text-cntr span {
  color: rgb(74, 111, 255);
}

.dancing-penguin {
  margin-right: 20%;
  margin-left: -8%;
}

.arpit.work {
  display: none;
}

.trips-heading {
  display: block;
  font-weight: 700;
  font-size: 50px;
  margin: 4vh 0 2vh 6vw;
}

.trip-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: row;
  margin-left: 8vw;
  padding-top: 13px;
}

.booked-dates strong {
  margin-top: 5px;
  font-weight: 700;
}

.booking-range {
  display: flex;
  margin-left: 1vw;
  margin-top: 0.5vw;
}

.trips-snowflake-bullet {
  margin-right: 3%;
}

.trips-review-button-cntr {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.trips-review-button,
.trips-review-update-button,
.trips-review-delete-button {
  border: 2px;
  border-radius: 3px;
  color: white;
  background-color: #7595bf;
  cursor: pointer;
  padding: 3px 15px 3px 15px;
  font-weight: 700;
  margin-bottom: 2%;
}

.trips-review-update-button {
  background-color: #335989;
  padding: 3px 12px 3px 12px;
}
.trips-review-delete-button {
  background-color: #bb0618;
  padding: 3px 12px 3px 12px;
}

.more-bookings-button {
  background: transparent;
  border-color: rgb(209, 209, 209);
  border-radius: 3px;
  color: #808080;
  margin-left: 1vw;
  margin-top: 1vh;
  cursor: pointer;
}

.more-bookings-button:focus {
  outline: 0;
}
