/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   background-image: image-url(splash);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #464646;

   font-family: Montserrat, sans-serif;
   font-size: 14px;
   color: #484848;
   line-height: 1.45;
   -webkit-font-smoothing: antialiased;
   display: flex;
 }

 .splash {
   display: block;
   font-size: 50px;
   color: #ffffff;
   font-weight: 700;
   position: fixed;
   top: 37%;
   left: 23%;
   text-shadow: 1px 1px 40px
      rgba(50,23,31,50);
 }

 .nav-login {
   top: 3.5%;
   right: 8.5%;
   padding-right: 3px;
   padding-left: 3px;
   padding-bottom: 34px;
   display: block;
   vertical-align: middle;
   line-height: 1;
   font-size: 14px;
   font-weight: 700;
   position: absolute;
   color: #ffffff;
   text-shadow: 1px 1px 40px
      rgba(0,0,0,50);
 }

 .nav-signup {
   top: 3.5%;
   right: 2%;
   padding-right: 3px;
   padding-left: 3px;
   padding-bottom: 34px;
   display: block;
   vertical-align: middle;
   line-height: 1;
   font-size: 14px;
   font-weight: 700;
   position: absolute;
   color: #ffffff;
   text-shadow: 1px 1px 40px
      rgba(0,0,0,50);
 }

 .nav-signup:hover, .nav-login:hover {
   border-bottom: 2px solid white;
   cursor: pointer;
 }

 .sign-up-form-footer {
   display: inline-block;
   margin-top: 30px;
   font-style: inherit;
   font-size: 19px;
   margin-left: 60px;
 }

 .login-form-footer {
   display: inline-block;
   margin-top: 30px;
   font-style: inherit;
   font-size: 19px;
   margin-left: 107px;
 }

 .form-footer-border {
   border-bottom: 1px solid rgb(219,219,219);
   width: 504px;
 }

.form-footer-link {
  color: #7595bf;
  font-style: inherit;
  font-size: inherit;
  cursor: pointer;
}

.form-footer-link:hover {
  text-decoration: underline;
}

 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   height: 550px;
   width: 504px;
   display: block;
   padding: 32px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(255, 255, 255);
 }

 .signup-form {
   display: flex;
   flex-direction: column;
   margin-bottom: 8;
   border: 1px;
   border-radius: 10px;
   border-color: rgb(219, 219, 219);
   width: 100%;
 }

 .form-field {
   font-family: Montserrat, sans-serif;
   height: 46px;
   line-height: 24px;
   font-size: 19px;
   color: rgb(72,72,72);
   width: 498px;
 }

 .close-x {
   cursor: pointer;
   align-items: flex-start;
   padding-bottom: 24px;
   margin-right: auto;
   width: 15px;
   font-family: inherit;
   font-size: 28px;
   color: rgb(205,205,205);
 }

 .session-submit {
   width: 504px;
   height: 52px;
   font-size: 19px;
   font-weight: 700;
   padding: 12px;
   border: 2px;
   border-radius: 3px;
   color: white;
   background-color: #011c40;
   cursor: pointer;
 }

 .header-group {
   display: inline-block;
   position: fixed;
   right: 3.5%;
   width: 5%;
 }


 .wrapper {
   border-radius:50%;
   position: relative;
   top: -31.5%;
   right: 35%;
 }

 .wrapper img {
   width:28px;
   height:28px;
   overflow: hidden;
   object-fit: cover;
   position: sticky;
   border-radius:50%;
   border: 2px solid;
   border-color: buttonface;
 }
