/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #484848;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  display: flex;
}

main {
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  float: right;
}

.greeting-background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100vh;
  background-image: image-url(SwissAlps_5);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.home-index-body {
  display: flex;
}

.home-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding-top: 13px;
}

.home-index-cntr {
  min-width: 65%;
  min-height: 796.59px;
}

.home-index-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 31%;
  box-sizing: border-box;
  margin: 8px 8px 25px 8px;
}

.index-item-info {
  display: flex;
  flex-direction: column;
}

.index-item-info-title {
  font-weight: 700;
  margin-top: 5px;
}

.index-item-description {
  font-weight: 400;
  margin-top: 5px;
}

.home-index-review-number {
  font-weight: 400;
}

.trip-item-info-title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 5px;
}

.home-index-image,
.trip-index-image {
  width: 100%;
  height: 16vw;
  min-height: 60px;
  border-radius: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  cursor: pointer;
}

.trip-index-image {
  height: 20vw;
}

.home-index-map {
  margin-right: 1%;
}

.map-container {
  padding-top: 21px;
  position: sticky;
  top: 70px;
}

#map {
  height: calc(100vh - 200px);
  width: 34vw;
}

.greeting-content-cntr {
  width: 50vw;
}

.splash-text {
  display: block;
  font-size: calc(2.4vw + 9px);
  color: #ffffff;
  font-weight: 700;
  text-shadow: 1px 1px 40px rgba(50, 23, 31, 50);
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8;
  border: 1px;
  border-radius: 10px;
  border-color: rgb(219, 219, 219);
  width: 100%;
}

.form-field {
  font-family: Montserrat, sans-serif;
  height: 40px;
  line-height: 24px;
  font-size: 19px;
  color: rgb(72, 72, 72);
  width: 498px;
}

.error-form-field {
  font-family: Montserrat, sans-serif;
  height: 40px;
  line-height: 24px;
  font-size: 19px;
  color: red;
  border-color: red;
  width: 498px;
}

.close-x {
  cursor: pointer;
  width: 19px;
  padding-bottom: 24px;
  font-family: inherit;
  font-size: 28px;
  fill: rgb(118, 118, 118);
}

.signup-session-submit {
  width: 504px;
  height: 45px;
  font-size: 19px;
  font-weight: 700;
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 9px;
  border: 2px;
  border-radius: 3px;
  color: white;
  background-color: #011c40;
  cursor: pointer;
}

.login-session-submit {
  width: 504px;
  height: 45px;
  font-size: 19px;
  font-weight: 700;
  padding: 12px;
  margin-top: 34px;
  margin-bottom: 29px;
  border: 2px;
  border-radius: 3px;
  color: white;
  background-color: #011c40;
  cursor: pointer;
}

.demo-user {
  width: 504px;
  height: 45px;
  font-size: 19px;
  font-weight: 700;
  padding: 12px;
  border: 2px;
  border-radius: 3px;
  color: white;
  background-color: #7595bf;
  cursor: pointer;
}
